<html>
<body>
<div class="container">
<h3 class=" text-center">Live Chat</h3>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">

            <div class="dropdown" dropdown>
              <div class="user-controller dropdown-toggle" dropdownToggle>
              <span>
                <div class="chat_img"><img src="{{photoUrl}}" alt="icon"></div>
              </span>
              <a class="text-light ml-4"> Hello {{user.username}} </a>
              <div class="dropdown-menu dropdown-menu-right mt-1 mr-2" *dropdownMenu>
                <a class="dropdown-item" (click)="openEdit()"><i class="fa fa-user"></i> My Account</a>
                <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Log Out</a>
              </div>
              </div>
            </div>

          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Active Chats</h4>
            </div>
            <div class="srch_bar">
              <button class="start_new_chat" (click)="startNewChat()">+</button>
              <!--
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>  -->
            </div>
          </div>
          <div class="inbox_chat">
           <button class="chat_list_btn" (click)="selectChat()">
              <div class="chat_list active_chat">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5 class="chat_list_username">Elliot Alderson <span class="chat_date">Dec 25</span></h5>
                  </div>
                </div>
              </div>
            </button>
            <button class="chat_list_btn" (click)="selectChat()">
              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5 class="chat_list_username">Elliot Alderson <span class="chat_date">Dec 25</span></h5>
                  </div>
                </div>
              </div>
            </button>
          </div>
        </div>
        <app-newchat *ngIf="searchForChat"></app-newchat>
        <app-chat *ngIf="isChatting" [currentUser]="user" [chattingWith]="activeChatUser" [photoUrl]="photoUrl"></app-chat>
        <div *ngIf="!isChattting && !searchForChat">
          <!--<app-splash></app-splash>-->
          <app-newchat></app-newchat> <!-- this is only here for easy of testing and formatting -->
        </div>
      </div>
      
    </div>
  </div>
</body>
</html>