<html>
<head>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"

</head>
<body>
<div class="container">
<h3 class=" text-center">Messaging</h3>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">

            <div class="dropdown" dropdown>
              <div class="user-controller dropdown-toggle" dropdownToggle>
              <span>
                <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="icon"></div>
              </span>
              <a class="text-light ml-4"> Hello Name </a>
              <div class="dropdown-menu dropdown-menu-right mt-1 mr-2" *dropdownMenu>
                <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</a>
                <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i> Log Out</a>
              </div>
              </div>
            </div>

          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Active Chats</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-chat></app-chat>
      </div>
      
    </div></div>
    </body>
    </html>