<html>
<body>
<div class="container">
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">

            <div class="dropdown" dropdown>
              <div class="user-controller dropdown-toggle" dropdownToggle>
              <div class="user-info-container">
                <span class="text-light ml-1 mt-4"> Hello {{user.username}} </span>
                <div class="user_img"><img src="{{photoUrl}}" alt="icon"></div>
              </div>
              <div class="dropdown-menu dropdown-menu-right mt-1 mr-2" *dropdownMenu>
                <a class="dropdown-item" (click)="openEdit()"><i class="fa fa-user"></i> My Account</a>
                <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Log Out</a>
              </div>
              </div>
            </div>

          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Active Chats</h4>
            </div>
            <div class="srch_bar">
              <button class="start_new_chat" (click)="startNewChat()">+</button>
            </div>
          </div>
          <div class="inbox_chat">
            <div *ngFor="let chat of activeChats">
              <button class="chat_list_btn" (click)="selectChat()">
                <div class="chat_list active_chat">
                  <div class="chat_people">
                    <div class="chat_img"> <img src="{{chat['photoUrl']}}" alt="icon"> </div>
                    <div class="chat_ib">
                      <h5 class="chat_list_username">{{chat['username'] | titlecase}}<span class="chat_date">Oct 31</span> </h5>
                    </div>
                  </div>
                </div>
              </button>
            </div>

           <button class="chat_list_btn" (click)="selectChat()">
              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5 class="chat_list_username">Elliot Alderson <span class="chat_date">Dec 25</span></h5>
                  </div>
                </div>
              </div>
            </button>
            <button class="chat_list_btn" (click)="selectChat()">
              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5 class="chat_list_username">Elliot Alderson <span class="chat_date">Dec 25</span></h5>
                  </div>
                </div>
              </div>
            </button>
            
          </div>
        </div>
        <div class="mesgs">
          <app-newchat *ngIf="searchForChat" (close)="closeNewChat($event)" (chatWith)="chatCreated($event)"></app-newchat>
          <app-chat *ngIf="isChatting" [currentUser]="user" [chattingWith]="activeChatUser" [photoUrl]="photoUrl"></app-chat>
          <app-splash *ngIf="showSplash"></app-splash>
        </div>

      </div>
      
    </div>
  </div>
</body>
</html>