
#brand-image {
    height: 35px;
}

#test {
    background: rgb(44, 44, 44);
}

.btn-nav a {
    color: white;
}

.navbar.nav{
    transition: 4 .90s linear
}

.btn-light {
    background: transparent;
}

.btn-nav-dark {
    background: white;
    color: rgb(44, 44, 44);
}