<body>
<div class="login-form">
    <form #loginForm="ngForm" (ngSubmit)="login()">
		<div class="avatar">
			<img src="https://github.com/NicholasDollick/QNTM-WPF/blob/master/QNTMWPFUserInterface/images/dropshadow-and-text.png?raw=true" alt="Avatar">
		</div>
        <h2 class="text-center">Login</h2>   
        
        <div class="form-label-group">
        	  <input type="text" class="form-control" name="username" placeholder="Username" required [(ngModel)]="model.username">
            <label for="username">Username</label>
        </div>
		
    <div class="form-label-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required [(ngModel)]="model.password">
            <label for="inputPassword">Password</label>
        </div>        
        <div class="form-group">
            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
        </div>
		<div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox" name="remember" [(ngModel)]="remember"/> Remember me</label>
            <a href="#" class="pull-right">Forgot Password?</a>
        </div>
    </form>
    <p class="text-center small">Need an account? <a routerLinkActive="active" [routerLink]="['/register']">Register</a></p>
</div>
</body>