<div class="container">
  <div class="content">
    <div class="header">
      <button class="btn btn-debug back-button" (click)="setClose()"><i class="fa fa-arrow-left"></i></button>
      <p class="back-button-text">New Conversation</p>
      <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search By Username" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> 
      </div>  
    </div>
      <p class="stuff">stuff goes here?</p>
    <div class="footer">
      <button type="button" class="btn btn-info mr-3">CANCEL</button>
      <button class="btn btn-success" (click)="createChat()">CREATE</button>
    </div>
  </div>
</div>