<nav class="navbar navbar-expand-lg fixed-top scrolling-navbar navbar-dark" id="test">
  <a class="navbar-brand" href="#">
    <img id="brand-image" alt="logo" src="https://raw.githubusercontent.com/NicholasDollick/QNTM-WPF/master/QNTMWPFUserInterface/images/flatwhite.png">
  QNTM
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/security']">Security</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">DevBlog</a>
      </li>
    </ul>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <div class="btn-nav"><a class="btn btn-light btn-medium navbar-btn" [routerLink]="['/login']">Log in</a></div>
    </li>
    <li class="ml-3 mr-4">
      <div class="btn-nav-dark"><a class="btn btn-light btn-medium navbar-btn" [routerLink]="['/register']">Sign Up</a></div>
    </li>
  </ul>
</nav>