

          <div class="msg_history" #msgList> 
            <div *ngIf="messages.length > 0">
              <div *ngFor="let message of messages">
                <!-- to them -->
                <div *ngIf="message['username'] == name">
                    <div class="outgoing_msg">
                      <div class="outgoing_msg_img"> <img src="{{photoUrl}}" alt="img"> </div>
                        <div class="sent_msg">
                           <p>{{message['msg']}}</p>
                         </div>
                      </div>   
                </div>
                <!-- to me -->
                <div *ngIf="message['username'] != name">
                 <div class="incoming_msg">
                  <div class="incoming_msg_img"> <img src="{{message['photoUrl']}}" alt="sunil"> </div>
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <p>{{message['msg']}}</p>
                          </div>
                        </div>
                  </div>
                </div>
                {{scrollToBottom()}}
              </div>
            </div>
          </div>
          <form (ngSubmit)="sendMessage()" #chatForm="ngForm">
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" [(ngModel)]="message" required 
              name="message" id="message" class="write_msg" 
              placeholder="Type a message" />
              <button class="msg_send_btn" id="sendmessage" [disabled]="!chatForm.valid">
                <i class="fa fa-paper-plane-o"></i>
              </button>
            </div>
          </div>
          </form>

