.upload_button::before{
	content:'';
	background: url('../../img/icons.svg') no-repeat;
	display: inline-block;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	padding-right: 13px;
}

.upload_button {
    width:240px;
    height:70px;
    border: 0;
    border-radius: 0px;
	text-align:center;
	text-decoration: none !important;
	color:#fff !important;
	text-transform: uppercase;
	font-weight: bold;
	border-radius:1px;
	display:block;
	line-height:70px;
	box-shadow:3px 3px 0 rgba(0,0,0,0.08);
	cursor: pointer;
	font-size:18px;
	margin:10px auto;
    opacity:0.9;
    background-color: #e95420;
}

.upload_button:hover {
    opacity:1;
}