<body>
<div class="login-form">
    <form  #registerForm="ngForm" (ngSubmit)="precheck()">
		<div class="avatar">
			<img src="https://github.com/NicholasDollick/QNTM-WPF/blob/master/QNTMWPFUserInterface/images/dropshadow-and-text.png?raw=true" alt="Avatar">
		</div>
        <h2 class="text-center">Create an account</h2>   
        
        <div class="form-label-group">
        	<input type="text" class="form-control" [(ngModel)]="model.Username" placeholder="Username" name="username" (ngModelChange)="onUsernameChange()" required>
            <label for="username">Username</label>
            <div class="boxError">
                <p *ngIf="exists"><i class="fa fa-times-circle"></i>Username is taken</p>
            </div>
        </div>
		
        <div class="form-label-group">
            <input type="password" id="inputPasssword" class="form-control" [(ngModel)]="model.Password" name="password" required placeholder="Password">
            <label for="inputPassword">Password</label>
            <div class="boxError">
                <p *ngIf="model?.Password?.length < 6 && model?.Password?.length > 0"><i class="fa fa-times-circle"></i>Passwords must be at least 6 characters long</p>
            </div>
        </div>
        <div class="form-label-group">
            <input type="password" class="form-control" [(ngModel)]="model.confPasssword" name="confPasssword" required placeholder="Password">
            <label for="inputPassword">Confirm Password</label>
            <div class="boxError">
                <p *ngIf="model?.Password != model?.confPasssword && model?.confPasssword?.length > 0"><i class="fa fa-times-circle"></i>Passwords Must Match</p>
            </div>
        </div>
        <div class="captcha-group">
          <re-captcha class="captcha" required (onCaptchaComplete)="onCaptchaComplete($event)" 
              (resolved)="resolved($event)" siteKey="6LdqFYgUAAAAACfQ1uLeb0xAF3vnEZAnZAn9XorU">
          </re-captcha>   
        </div>     
        <div class="form-group">
            <button type="submit" [disabled]="!registerForm.valid || model.Password != model.confPasssword" class="btn btn-primary btn-lg btn-block">Register</button>
        </div>
		<div class="clearfix">
            <a routerLinkActive="active" [routerLink]="['/login']" class="pull-left">Already have an account?</a>
        </div>
    </form>
</div>
        <div class="text-align:center">
            <div class="loading-text" *ngIf="loading">{{process}}</div>
        </div>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</body>