<body>
<div class="login-form">
    <form  #registerForm="ngForm" (ngSubmit)="register()">
		<div class="avatar">
			<img src="https://github.com/NicholasDollick/QNTM-WPF/blob/master/QNTMWPFUserInterface/images/dropshadow-and-text.png?raw=true" alt="Avatar">
		</div>
        <h2 class="text-center">Create an account</h2>   
        
        <div class="form-label-group">
        	  <input type="text" class="form-control" [(ngModel)]="model.Username" placeholder="Username" name="username" required>
            <label for="username">Username</label>
        </div>
		
        <div class="form-label-group">
            <input type="password" id="inputPasssword" class="form-control" [(ngModel)]="model.password" name="password" required placeholder="Password">
            <label for="inputPassword">Password</label>
        </div>
        <div class="form-label-group">
            <input type="password" class="form-control" [(ngModel)]="model.confPasssword" name="confPasssword" required placeholder="Password">
            <label for="inputPassword">Confirm Password</label>
        </div>
        <div class="captcha-group">
          <re-captcha class="captcha" required (onCaptchaComplete)="onCaptchaComplete($event)" 
              (resolved)="resolved($event)" siteKey="6LdqFYgUAAAAACfQ1uLeb0xAF3vnEZAnZAn9XorU">
          </re-captcha>   
        </div>     
        <div class="form-group">
            <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary btn-lg btn-block">Register</button>
        </div>
		<div class="clearfix">
            <a routerLinkActive="active" [routerLink]="['/login']" class="pull-left">Already have an account?</a>
            <p *ngIf="model.password != model.confPasssword">Hello</p>
        </div>
    </form>
</div>
</body>